In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
# X: matriz de características ( fila imagen, columna caracteritica)
# y: vector de etiquetas

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo de árbol de decisión
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Evaluar la precisión del modelo en los datos de prueba
accuracy = model.score(X_test, y_test)
print("Precisión del modelo:", accuracy)

In [ ]:
import functions as fn

fn.example1()

In [1]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

In [2]:
from functions import *
DATA_PATH = r"d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules"
METADATA_PATH = os.path.join(DATA_PATH, 'module_metadata.json')

df = pd.read_json(METADATA_PATH, orient='index').sort_index()
df['image_filepath'] = df.image_filepath.apply(lambda x: os.path.join(DATA_PATH, x))

# sample = df.groupby('anomaly_class').sample().sort_index()

print(df)

                                          image_filepath   anomaly_class
0      d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...  Offline-Module
1      d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...  Offline-Module
2      d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...  Offline-Module
3      d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...  Offline-Module
4      d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...  Offline-Module
...                                                  ...             ...
19995  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...      No-Anomaly
19996  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...      No-Anomaly
19997  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...      No-Anomaly
19998  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...      No-Anomaly
19999  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...      No-Anomaly

[20000 rows x 2 columns]

In [ ]:
df.iloc[2,0]

In [3]:

# data = ExtFwVGG16(sample["image_filepath"][0])
df = J2Anottation(DATA_PATH,METADATA_PATH)
# sample = df.groupby('anomaly_class').sample(n=10).sort_index()
# df.iloc[0,0]

In [6]:
a = df.drop(df.index[21::])

In [7]:
a

                                       image_filepath anomaly_class
0   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
1   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
2   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
3   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
4   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
5   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
6   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
7   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
8   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
9   d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
10  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
11  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
12  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
13  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
14  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
15  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
16  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
17  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
18  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
19  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly
20  d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...       Anomaly

In [34]:
def dataframe(df):
    
    sample = df
    
    filas = sample.index.tolist()

    for i in range(1000):
        
        colum_name = f"Columna_{i}"
        sample[colum_name] = ""
        
    for n in range(len(filas)-19980):
    
        Features = ExtFwVGG16(df["image_filepath"][filas[n]])
        sample.iloc[n,2::] = Features[0].tolist()
    
    return sample  

data_k = dataframe(df)
data_f = df.groupby("anomaly_class").sample(n=10).sort_index()

(20000, 1002)
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/0.jpg
1/1 [==============================] - 1s 567ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/1.jpg
1/1 [==============================] - 1s 540ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/2.jpg
1/1 [==============================] - 1s 504ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/3.jpg
1/1 [==============================] - 1s 507ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/4.jpg
1/1 [==============================] - 1s 618ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/5.jpg
1/1 [==============================] - 1s 587ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/6.jpg
1/1 [==============================] - 1s 636ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/7.jpg
1/1 [==============================] - 1s 542ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/8.jpg
1/1 [==============================] - 1s 566ms/step
d:\Users\ASUS\Documents\GitHub\Infrared-Solar-Modules-Classifier\Data\2020-02-14_InfraredSolarModules\images/9.jpg
1/1 [==============================] - 1s 546ms/step

In [35]:
data_k

,image_filepath,anomaly_class,Columna_0,Columna_1,Columna_2,Columna_3,Columna_4,Columna_5,Columna_6,Columna_7,...,Columna_990,Columna_991,Columna_992,Columna_993,Columna_994,Columna_995,Columna_996,Columna_997,Columna_998,Columna_999
0,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000018,0.000386,0.000516,0.000295,0.00049,0.000223,0.000219,0.000147,...,0.000028,0.00002,0.00001,0.000006,0.000015,0.000029,0.000016,0.000008,0.000084,0.016479
1,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000008,0.000315,0.000103,0.000078,0.000083,0.000043,0.000085,0.000091,...,0.000022,0.000015,0.000022,0.00001,0.000004,0.00003,0.000061,0.00001,0.000124,0.003687
2,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000003,0.000204,0.000022,0.000019,0.000026,0.00003,0.000052,0.00002,...,0.000007,0.000006,0.000008,0.000002,0.000001,0.000005,0.000019,0.000004,0.000043,0.015987
3,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000002,0.000143,0.000025,0.000025,0.000038,0.000032,0.000042,0.000047,...,0.000012,0.000011,0.000005,0.000004,0.000002,0.000008,0.000023,0.000004,0.000031,0.014624
4,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000009,0.000416,0.000063,0.000058,0.000115,0.000104,0.000137,0.000049,...,0.000015,0.000012,0.000012,0.000003,0.000006,0.000012,0.000022,0.00001,0.000083,0.021481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,,,,,,,,,...,,,,,,,,,,
19996,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,,,,,,,,,...,,,,,,,,,,
19997,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,,,,,,,,,...,,,,,,,,,,
19998,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,,,,,,,,,...,,,,,,,,,,
19999,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,,,,,,,,,...,,,,,,,,,,

In [36]:
import mysql.connector

conn =  mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3306" # Se puede omitir (lo comentamos), se coloca por defecto
    database = "Paneles_img"
)


# El cursor es el que nos permite interactuar con la bbdd
cursor = conn.cursor()
tabla = "imagenes"
cursor.execute(f"DROP TABLE {tabla}")
query = """
CREATE TABLE imagenes (
image_filepath VARCHAR(200),
anomaly_class VARCHAR(200),
"""
for i in range(1000):
    query = query + ' Columna_' + str(i) + ' float(16, 15), \n'

query = query[:-3] + ');'

cursor.execute(query)

In [37]:
a = UploadDB(data_k)

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 Se ha forzado la interrupción de una conexión existente por el host remoto

In [20]:
import pymysql
from sshtunnel import SSHTunnelForwarder


ssh_ip_address = 'elektra.udea.edu.co'
ssh_p_username = 'solarudea'
ssh_p_password = "ElCoco2022"
ssh_port = 22
ssh_remote_bind_address = 3306
db_server_ip = 'elektra.udea.edu.co'
db_server_port = 3306
db_user = 'solarudea'
db_user_password = 'canoquintero'
db_name = 'termografia'

## SSH CONNECTION

tunnel = SSHTunnelForwarder((ssh_ip_address, 22), ssh_password=ssh_p_password, ssh_username=ssh_p_username,
                            remote_bind_address=('127.0.0.1', 3306))
tunnel.start()
# Establish an SSH tunnel to the remote server using the specified IP address, port, username, and password
# The tunnel will bind to the local address '127.0.0.1' and port 3306

# MYSQL CONNECTION
conn1 = pymysql.connect(host='localhost', port=tunnel.local_bind_port, user=ssh_p_username,
                          passwd=db_user_password, db=db_name)

In [21]:
cur = conn1.cursor()
tabla = "imagenes_D"
cur.execute(f"DROP TABLE {tabla}")
query = """
CREATE TABLE imagenes_D (
image_filepath VARCHAR(200),
anomaly_class VARCHAR(200),
"""
for i in range(1000):
    query = query + ' Columna_' + str(i) + ' float(16, 15), \n'

query = query[:-3] + ');'

cur.execute(query)

columnas = ', '.join(data_k.columns)

consulta = f"INSERT INTO {tabla} ({columnas}) VALUES "

valores = ", ".join(["%s"] * len(data_k.columns))

cur.executemany(consulta + f"({valores})", data_k.values.tolist())



# Cerrar el cursor y la conexión


conn1.commit()

In [24]:
cur = conn1.cursor()

cur.execute("SHOW TABLES")
print([tabla[0] for tabla in cur]
)


sql = """ SELECT * FROM imagenes_D"""
cur.execute(sql)
Features = cur.fetchall()
df_new = pd.DataFrame(Features)

['TI_PV_branch', 'TI_PV_main', 'imagenes', 'imagenes_D', 'tabla']

In [26]:
df_new

,0,1,2,3,4,5,6,7,8,9,...,992,993,994,995,996,997,998,999,1000,1001
0,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000007,0.000294,0.000037,0.000039,0.000037,0.000046,0.000052,0.000042,...,0.000009,0.000008,0.000009,0.000005,2.599832e-06,0.000009,0.000026,0.000005,0.000051,0.011644
1,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,Anomaly,0.000003,0.000332,0.000059,0.000040,0.000078,0.000034,0.000078,0.000024,...,0.000009,0.000007,0.000006,0.000002,1.100717e-06,0.000007,0.000016,0.000004,0.000063,0.007766
2,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,0.000002,0.000187,0.000016,0.000017,0.000029,0.000026,0.000045,0.000021,...,0.000004,0.000003,0.000005,0.000001,6.335499e-07,0.000004,0.000014,0.000002,0.000033,0.005284
3,d:\Users\ASUS\Documents\GitHub\Infrared-Solar-...,No-Anomaly,0.000010,0.000455,0.000082,0.000124,0.000096,0.000054,0.000081,0.000128,...,0.000028,0.000024,0.000022,0.000013,7.040173e-06,0.000025,0.000050,0.000009,0.000083,0.007500

In [ ]:
import mysql.connector

conn =  mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3306" # Se puede omitir (lo comentamos), se coloca por defecto
    database = "Paneles_img"
)


# El cursor es el que nos permite interactuar con la bbdd
cursor = conn.cursor()
tabla = "imagenes"
cursor.execute(f"DROP TABLE {tabla}")
query = """
CREATE TABLE imagenes (
image_filepath VARCHAR(200),
anomaly_class VARCHAR(200),
"""
for i in range(1000):
    query = query + ' Columna_' + str(i) + ' float(16, 14), \n'

query = query[:-3] + ');'

cursor.execute(query)

In [27]:
import mysql.connector

conn =  mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3306" # Se puede omitir (lo comentamos), se coloca por defecto
    database = "Paneles_img"
)


# El cursor es el que nos permite interactuar con la bbdd
cursor = conn.cursor()
tabla = "imagenes"

cursor.execute(f"DROP TABLE {tabla}")
create_table_query = '''
    CREATE TABLE imagenes (
        id VARCHAR(255) PRIMARY KEY,
        Label VARCHAR(255)
    )
 '''
cursor.execute(create_table_query)
query = f"ALTER TABLE {tabla} "

column_declarations = ', '.join([f"ADD COLUMN Features{i} DECIMAL(17, 15)" for i in range(1, 1001)])
query += column_declarations
# SQL query to create the TI_PV_branch table with columns and their data types
cursor.execute(query)

query = f"SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = '{conn.database}' AND TABLE_NAME = '{tabla}'"

# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados de la consulta
column_names = ', '.join([columna[0] for columna in cursor])

filas = data_f.index.tolist()
data=[]
for n in range(len(filas)):
    a = data_f.iloc[0].tolist()
    Features = ExtFwVGG16(data_f["image_filepath"][filas[n]])
    a.extend(Features[0].tolist())
    data.append(a)
    # datos_insertar = [tuple(a)]
consulta = f"INSERT INTO {tabla} ({column_names}) VALUES "
valores = ", ".join(["%s"] * 1002)
cursor.executemany(consulta + f"({valores})", data)


conn.commit
cursor.close()
conn.close()

WARNING:tensorflow:5 out of the last 5 calls to <function Model.make_predict_function.<locals>.predict_function at 0x0000021AFBA2B5B0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 1s 927ms/step
WARNING:tensorflow:6 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x0000021AFBA2B6D0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 1s 581ms/step
1/1 [==============================] - 1s 633ms/step
1/1 [==============================] - 1s 682ms/step
1/1 [==============================] - 1s 706ms/step
1/1 [==============================] - 1s 598ms/step
1/1 [==============================] - 1s 570ms/step
1/1 [==============================] - 1s 561ms/step
1/1 [==============================] - 1s 614ms/step
1/1 [==============================] - 1s 806ms/step
1/1 [==============================] - 1s 587ms/step
1/1 [==============================] - 1s 699ms/step
1/1 [==============================] - 1s 740ms/step
1/1 [==============================] - 1s 635ms/step
1/1 [==============================] - 1s 656ms/step
1/1 [==============================] - 1s 597ms/step
1/1 [==============================] - 1s 738ms/step
1/1 [==============================] - 1s 677ms/step
1/1 [==============================] - 1s 624ms/step
1/1 [==============================] - 1s 710ms/step

ProgrammingError: 1118 (42000): Row size too large (> 8126). Changing some columns to TEXT or BLOB may help. In current row format, BLOB prefix of 0 bytes is stored inline.

In [ ]:
data_f

In [ ]:
def PreDS (x , number_datos = 20):
    return np.array([x [0][:number_datos]])
a = PreDS(Features)

In [ ]:
def ReadDB():
    
    conn =  mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "Paneles_img")

    # El cursor es el que nos permite interactuar con la bbdd
    cursor = conn.cursor()

    sql = """ SELECT * FROM imagenes"""
    cursor.execute(sql)
    Features = cursor.fetchall()
    df = pd.DataFrame(Features)

    return df

m = ReadDB()

In [ ]:
m